

<%# <h1>Qu’est-ce que « AMURE » ?</h1>
<div class="amure">
  <p>L’amure est un cordage qui permet de maintenir la voile et de la contrôler pendant la navigation. La base pour une trajectoire maitrisée, d’un cap clair et précis.</p>
</div> %>
