<div class="adn">
  <div class="mot_cles">
    <h2>Indépendance</h2>
    <p>Nous garantissons un conseil impartial</p>
  </div>
  <div class="mot_cles">
    <h2>Transparence</h2>
    <p>Nous veillons à ce que vos intérêts soient préservés, sans conflits d’intérêts</p>
  </div>
  <div class="mot_cles">
    <h2>Intégrité</h2>
    <p>Nous veillons à respecter les règles de déontologie</p>
  </div>
</div>

<h1>Qu’est-ce que « AMURE » ?</h1>
<div class="amure">
  <p>L’amure est un cordage qui permet de maintenir la voile et de la contrôler pendant la navigation. La base pour une trajectoire maitrisée, d’un cap clair et précis.</p>
</div>
