<div class="adn">
  <div class="mot-cles">
    <h1>INDEPENDANCE</h1>
    <p>Nous garantissons un conseil impartial</p>
  </div>
  <div class="mot-cles">
    <h1>TRANSPARENCE</h1>
    <p>Nous veillons à ce que vos intérêts soient préservés, sans conflits d’intérêts</p>
  </div>
  <div class="mot-cles">
    <h1>INTEGRITE</h1>
    <p>Nous veillons à respecter les règles de déontologie</p>
  </div>


</div>

<div class="amure">
  <h1>Qu’est-ce que « AMURE » ?</h1>
  <p>L’amure est un cordage qui permet de maintenir la voile et de la contrôler pendant la navigation. La base pour une trajectoire maitrisée, d’un cap clair et précis.</p>
</div>
