<div class ="portrait">
  <h1>Portrait du fondateur</h1>
  <%= image_tag("Florent_Lacombe.png", alt:"photo-profil-florent") %>
  <div class="prez">
    <p> Florent, 34 ans, a évolué au sein des deux leaders mondiaux du conseil en immobilier d’entreprise, chez JLL et CBRE, à Paris et à Marseille. Il a conseillé tous types de clients : institutionnels, foncières, promoteurs, family offices, startup, TPE - PME, groupes.
        Il souhaite offrir à ses clients un service personnalisé en s’appuyant sur son expertise et ses connaissances marché, sans conflit d’intérêt et sans les contraintes d’une grosse structure.
        Florent, passionné de voile, s'est lancé avec la détermination des marins et leur goût du risque mesuré.
    </p>
  </div>

</div>
