    <h1>Nos services</h1>
  <div class="metiers">
    <div class="elements-audit">
      <div><h2>Audit immobilier</h2></div>
      <div>
        <ul>
          <li>Optimisation des coûts immobiliers</li>
          <li>Renégociation de votre bail commercial</li>
          <li>Sale and Lease back</li>
          <li>Réaménagement de votre espace de travail</li>
          <li>Schéma directeur immobilier</li>
          <li>Rationalisation de vos implantations</li>
          <li>Analyse de votre portefeuille</li>
        </ul>
      </div>
    </div>
    <div class="elements-bureau">
      <div><h2>Recherche de bureaux</h2></div>
      <div>
        <ul>
          <li>Élaboration de votre cahier des charges (enjeux sociaux, financiers, géographiques, d’image)</li>
          <li>Accès à l’exhaustivité du marché, sélection et visites d’offres adaptées</li>
          <li>Conseil (indépendant, transparent et intègre) dans les négociations financières et juridiques</li>
          <li>Accompagnement dans votre installation & dans vos travaux</li>
        </ul>
      </div>
  </div>
  </div>

  <div class="metiers">
    <div class="elements-commercialisation">
      <div><h2>Commercialisation</h2></div>
      <div>
        <ul>
          <li>Définition d’une cible pertinente</li>
          <li>Mise en place d’une stratégie (prix, schéma de diffusion, interface avec les acteurs du marché, approche directe des entreprises cibles)</li>
          <li>Accompagnement dans les négociations financières et juridiques</li>
        </ul>
      </div>
    </div>

    <div class="elements-invest">
      <div><h2>Investissement<h2></div>
      <div>
        <ul>
          <li>Analyse des états locatifs</li>
          <li>Capitalisation</li>
          <li>Valorisation en l’état / post-travaux</li>
          <li>Projection des revenus</li>
          <li>Recherche du montage optimal / de partenaires éventuels</li>
          <li>Accompagnement jusqu’au transfert de propriété</li>
        </ul>
      </div>
    </div>
  </div>

  <%# <div class="metiers">
    <div class="elements">

      <div><p>Nous calculons les taux de rendement, les estimations de loyer et développons des hypothèses ayant pour objectif de refléter l’analyse qui pourrait être conduite par un acquéreur potentiel.</p></div>

    </div>

    <div class="elements">
    <div><h2>Achat</h2></div>
    <div><p>Nous vous conseillons de manière sincère et objective dans le cadre de vos acquisitions :</p></div>

  </div>
</div> %>
