<h1> Qui sommes-nous ?</h1>
<div class="apropos">
  <div class="presentation">
    <p>Amure Immobilier est spécialisée dans le conseil en immobilier d’entreprise. Elle accompagne ses clients à la recherche de conseil indépendant et propose une stratégie sur mesure.
    Amure Immobilier bénéficie de l’agilité et de la flexibilité qu’offre une structure indépendante, et vous permet d’accéder à l’exhaustivité du marché via notre intermédiaire.</p>
  </div>


  <div class="adn">
  <div class="mot_cles">
    <h2>Indépendance</h2>
    <p>Nous garantissons un conseil impartial</p>
  </div>
  <div class="mot_cles">
    <h2>Transparence</h2>
    <p>Nous veillons à ce que vos intérêts soient préservés, sans conflits d’intérêts</p>
  </div>
  <div class="mot_cles">
    <h2>Intégrité</h2>
    <p>Nous veillons à respecter les règles de déontologie</p>
  </div>
</div>
<br>
<br>

  <h2>Portrait du fondateur</h2>
<div class ="portrait">
  <%= image_tag("Florent_Lacombe.png", alt:"photo-profil-florent") %>
  <div class="prez">
    <p> Florent, 34 ans, a évolué au sein des deux leaders mondiaux du conseil en immobilier d’entreprise, chez JLL et CBRE, à Paris et à Marseille. Il a conseillé tous types de clients : institutionnels, foncières, promoteurs, family offices, startup, TPE - PME, groupes.
        Il souhaite offrir à ses clients un service personnalisé en s’appuyant sur son expertise et ses connaissances marché, sans conflit d’intérêt et sans les contraintes d’une grosse structure.
        Florent, passionné de voile, s'est lancé avec la détermination des marins et leur goût du risque mesuré.
    </p>
  </div>

</div>
</div>
