<h1> Amure Immobilier </h1>

<%# <%= video_tag 'intro.mp4', autoplay: true, loop: true, muted: true %>

<%= render "pages/home/apropos"%>

<%= render "pages/home/metier"%>

<%= render "pages/home/contact"%>
