.adn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px 8px
}

@media (max-width: 768px){
  .adn{
    display: flex;
    flex-direction: column;
  }
}

.mot_cles{
  display: flex;
  flex-direction: column;
  border-right: 1px  solid grey;
  display: inline-block;
  padding: 24px;
  width: 33%;

  p{
    text-align: center;
  }
  // animation: scroll 20s linear infinite;
}

@media (max-width: 768px){
  .mot_cles{
    border-bottom: 1px solid grey;
    border-right: 0;
    width: 100%
  }

  .mot_cles:last-child{
    border-bottom: 1px solid grey;
    width: 100%
  }
}

.mot_cles:last-child{
  display: flex;
  flex-direction: column;
  border-right: 0;
  display: inline-block;
  padding: 24px;
  width: 33%;

  p{
    text-align: center;
  }
  // animation: scroll 20s linear infinite;
}

@media (max-width: 768px){
  .mot_cles:last-child{
    border-bottom: 1px solid grey;
    width: 100%
  }
}

.amure{
  background-image: linear-gradient(to right, #182A5D, #2743AD, #3476B4);

  p{
    color: white;
    text-align: justify;
    padding: 24px;
  }
}



// @keyframes scroll {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }
