.apropos{
display: flex;
flex-direction: row;
justify-content: center;

}

.presentation{
  background-image: linear-gradient(to right, #182A5D, #2743AD);
  width: 70%;
  padding: 24px;

  p{
    color: white;
    text-align: justify;
    width: 65%;
  }
}

.contact{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  a{
  text-decoration: none;
  color: black
  }
}
