#contact{
  padding: 0 54px
}

@media (max-width:768px){
  #contact{
  padding: 16px 24px
  }
}

.renseignement{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px){
  .renseignement{
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  }

}

.infos{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px){
  .infos{
    width: 100%
  }

}
.infos-amure{
  h2{
text-align: left;
  }

}

.infos-flo{
  h2{
    text-align: left;
      }
}

.line{
  padding: 0 24px;
}

.contact-amure{
  display: flex;
  flex-direction: row;
  gap: 8px;

  img{
width: 30px;
height: 25px;

  }
}

.formulaire{
  display: flex;
  justify-content: center;
  width: 50%
}

@media (max-width:768px){
  .formulaire{
    width: 100%
  }
}

.form{
  width: 100%;
  margin: auto;
}

.champs{

  padding: 3%;
  margin: auto;
  border-radius: 5%;
  width: 100%;
  display: grid; // Ajoutez une grille à l'intérieur du formulaire pour centrer l'input
  grid-template-columns: auto; // Une seule colonne pour l'input
  align-items: center;
  justify-items: center;

  input[type="text"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    // Ajoutez un rayon de bordure si nécessaire
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);

  }
  input[type="email"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
     // Ajoutez un rayon de bordure si nécessaire
     background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;

  }

  input[type="tel"] {
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
     // Ajoutez un rayon de bordure si nécessaire
     background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
  }

  textarea{
    width: 70%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    padding: 2%; // Ajoutez un espace intérieur pour le contenu de l'input
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    border-radius: 6px; // Ajoutez un rayon de bordure si nécessaire
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    resize: none;
  }

  input[type="submit"]:valid {
    width: 40%;
    padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    width: 40%;
    padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
  }


  input[type="submit"]:invalid {
    width: 30%;
    padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
    margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
    border: none; // Enlevez la bordure si nécessaire
    // background-color: #957DAD;
    border-radius: 10px;
    border: 5px solid red;
    font-size: 16px;
  }

  }

  label{
    color: white;
   width: 70%;
  }


.is-invalid{
  border: 1px solid red;
  background-color: #ffeeee;
}

.d-none{
  display: none;
}


// .infos{
//   display: grid;
//   grid-template-rows: auto;
//   width: 70%;
// }


.btn-envoyer{
  width: 40%;
  padding: 2%; // Définissez la largeur de l'input à 100% pour qu'il s'étende sur toute la largeur disponible
  margin: 2% 0; // Ajoutez une marge en haut et en bas de l'input
  border: none; // Enlevez la bordure si nécessaire
  // background-color: #957DAD;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 16px bold;
  color: white
}




@media(min-width: 768px) and (max-width: 1388px) {
  // Ajoutez ici les styles spécifiques à cette résolution d'écran si nécessaire
}

@media(max-width: 767px) {
.form{
  display: grid;
  grid-template-columns: auto;
}
}
