.portrait{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;

  h1{
    margin-left: auto;
    margin-right: auto;

  }

  img{
    width: 350px;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
  }

  .prez{
    text-align: justify;
    padding: 24px;
  }
}
