.home{
  background: #000;
}
.video-drone{
    position: relative;
    width: 100%;
    // filter: brightness(80%);
    img{
      position: absolute;
      top: 2%;
      left: 10%;
      height: 10vh;
    }
  }

  .navigation {
    position: absolute;
    top: 5%;
    left: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;

    a{
      text-decoration: none;
      color: white;
      font-size: 18px;

    }


    a:hover{
      text-decoration: none;
      color: white;
      font-size: 18px;
      text-decoration: underline white;
    }
  }


.video-texte-bold {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 82px; /* ou essayez avec '4vw' pour une taille responsive */
  color: white;
  text-align: center; /* Assure le centrage du texte si celui-ci occupe plusieurs lignes */
  font-weight: bold;
  width: 100%; /* Assure une largeur maximale et le centrage du texte */
}


.video-texte-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px; /* ou essayez avec '4vw' pour une taille responsive */
  color: white;
  text-align: center; /* Assure le centrage du texte si celui-ci occupe plusieurs lignes */
  font-weight: light;
  width: 100%; /* Assure une largeur maximale et le centrage du texte */
}


.btn-top{
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #f5f5f5; /* Couleur de fond */
  color: #000; /* Couleur du texte */
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: none; /* Masqué par défaut */
}
