.container-metiers{
  overflow: hidden;
  white-space: nowrap;
}

.titre {
  display: flex;
  flex-wrap: nowrap; /* Empêche les éléments de se replier sur la ligne suivante */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: space-around; /* Distribue l'espace autour des éléments */
  animation: slidein 20s infinite linear;

  a {
    text-decoration: none;
    color: black;
    display: inline-block; /* Assurez-vous que les éléments sont alignés horizontalement */
    margin-right: 20px; /* Ajustez selon votre design */
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  75%{
  // margin-left: 25%;
  // width: 150%;

  }

  75% {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}




.metiers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  gap: 20px

}

.elements{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 24px;
  background-image: linear-gradient(to right, rgba(217, 165, 121, 0.5), rgba(254, 230, 181, 0.5));
}
